<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">

<head>
    <title>Introduction to AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="bootstrap.min.css" />
    <style>
        html,
        body {
            font-size: 1.1em;
        }
    </style>

    <!-- load angular via CDN -->
    <script src="angular.min.js"></script>
    <script src='angular-messages.min.js'></script>
    <script src='angular-resource.min.js'></script>
    <script src='angular-route.min.js'></script>
    <script src="app.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">AngularJS</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="#/first">
                            <i class="fa fa-home"></i> FIRST</a>
                    </li>
                    <li>
                        <a href="#/second">
                            <i class="fa fa-home"></i> SECOND</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div ng-controller='mainController'>
            <div>
                <label>What is your twitter handle</label>
                <input type='text' ng-model='handle' />
            </div>
            <div class='alert' ng-class="{ 'alert-warning': handle.length < characters, 'alert-danger': handle.length > characters }"
                ng-show='handle.length !== characters'>
                <div ng-show='handle.length < characters'>
                    You have less than 5 characters.
                </div>
                <div ng-show='handle.length > characters'>
                    You have more than 5 characters.
                </div>
            </div>
            <hr />
            <h1>twitter.com/{{ lowerCaseHandle() }}</h1>
            <h3>Users:</h3>
            <ul>
                <li ng-repeat='rule in rules'>
                    {{rule.name.first}} {{rule.name.last}}
                </li>
            </ul>
            <hr />
            <input type='button' value='Click Me' ng-click='alertClick()' />
            <br/>
            <br /> Add rule:
            <input type='text' ng-model='newRule' />
            <a href='#' class='btn btn-default' ng-click='addRule()'>ADD</a>
        </div>
        <div ng-view></div>
    </div>
</body>

</html>